/* You can add global styles to this file, and also import other style files */

// Importing in scss files results in including the file you import
// Importing in regular .css files will generate a HTTP request on app load to fetch the imported css file.
// Conclusion: importing in scss files is more efficient, since we avoid many HTTP requests.

@import '~@angular/material/theming';

@include mat-core();

$def-primary: mat-palette($mat-blue);
$def-accent:  mat-palette($mat-pink, A200, A100, A400);
$def-warn:    mat-palette($mat-red);
$def-theme: mat-light-theme($def-primary, $def-accent, $def-warn);

$primary: $def-primary;
$accent: $def-accent;
$warn: $def-warn;

@include angular-material-theme($def-theme);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/assets/MaterialIcons-Regular.woff2) format('woff2'),
    url(/assets/MaterialIcons-Regular.woff) format('woff'),
    url(/assets/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
