/* You can add global styles to this file, and also import other style files */

// Importing in scss files results in including the file you import
// Importing in regular .css files will generate a HTTP request on app load to fetch the imported css file.
// Conclusion: importing in scss files is more efficient, since we avoid many HTTP requests.

@import '@angular/material/theming';

@include mat-core();

$def-primary: mat-palette($mat-blue);
$def-accent:  mat-palette($mat-pink, A200, A100, A400);
$def-warn:    mat-palette($mat-red);
$def-theme: mat-light-theme($def-primary, $def-accent, $def-warn);

$primary: $def-primary;
$accent: $def-accent;
$warn: $def-warn;

@include angular-material-theme($def-theme);

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
